.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #909090;
}

#title {
    flex: 1;
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.time {
    flex: 1;
    font-size: 18px;
    margin-top: 0;
    width: 100%;
    text-align: center;
}

.title-img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}

.title-img img {
    flex: 1 1;
    width: auto;
    height: 160px;
}

.years {
    color: red;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    flex: 1;
    margin: 10px 7vw;  
}

.text p {
    font-size: 16px;
}

.songs {
    font-style: italic;
    margin-bottom: 10px;
    font-size: 20px;
}

.video {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.video iframe {
    margin-bottom: 20px;
    max-width: 100%;
}

.image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}

.img-tx {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 15px;  
    margin-top: 0;
}

.final-img{
    width: auto;
    height: auto;
    max-width: 100%;
}

.more-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.wiki {
    color: red;
    font-weight: bold;
}

body {
    background-color: #E0E0E0;
}